 .u-section-1 {
  min-height: 450px;
}

.u-section-1 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-columns: calc(33.3333% - 6.66667px);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: 3px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 3px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 3px 0 0;
}

.u-section-1 .u-table-1 {
  margin: 0 10px;
}

.u-block-0014-52 {
  font-weight: 700;
  background-image: none;
}

/* if(max-width < = 1199px) */
/* @media (max-width: 1199px) {
   .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-list-1 {
    width: 1392px;
    margin-top: -5px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 47px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }
} */
/* if(max-width < = 991px) */
@media (max-width: 991px) {
   .u-section-1 {
    min-height: 472px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px 0px;
    grid-template-columns: 50% 50%;
    min-height: 64px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 3px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 3px 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 3px 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 1px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }
}
/* if(max-width < = 767px) */
@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}
/* if(max-width < = 575px) */
@media (max-width: 575px) {
   .u-section-1 {
    min-height: 510px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 93px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }
}.table-header {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	text-align:center;
}